* {
  box-sizing: border-box;
}

header {
  /* padding: 20px; */
  font-size: 36px;
  margin-bottom: 20px;
  height: 60px;
  border-bottom: solid 2px #5c48d3;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: flex-end; */
  width: auto;
  flex-direction: column;
  /* height: 100vh; */
  min-height: 400px;
}

.task span {
  font-size: 28px;
  margin: 0 20px;
}

.through {
  text-decoration: line-through;
}

.inputTask {
  margin-top: 50px;
  height: 65px;
  width: 548px;
  font-size: 24px;
  border-color: #5c48d3;
  border-radius: 10px;
  background-color: #d2d5d8;
  color: #817f7f;
}

button {
  margin-left: 20px;
  height: 65px;
  width: 130px;
  background-color: #5c48d3;
  border-radius: 10px;
  color: white;
  font-size: 22px;
}

footer {
  margin-top: 50px;
  height: 40px;
  /* width: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span {
  font-size: 15px;
  font-weight: bold;
  color: #5c48d3;
}
